@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%; /* #050505 */
    --foreground: 46 30% 96%; /* Off-white with slight gold tint */
    --card: 0 0% 4%; /* #0a0a0a */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 65% 52%; /* #D4AF37 Gold */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 9%; /* #171717 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 60%;
    --accent: 46 65% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 46 65% 52%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Outfit", sans-serif;
  }
}

.glass-panel {
  @apply bg-black/40 backdrop-blur-xl border border-white/5;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#DBBF33] to-[#AA8C2C];
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
